build/
*.~lock.*
app/output/props/*
tempZipDir
node_modules/**
~$*.xlsx
.idea/*
app/config/assets/csv/MIF.init100.csv
app/config/assets/csv/MIF.init15000.csv
app/config/assets/csv/MIF.init2000.csv
app/config/assets/csv/MIF.initOio.csv
app/config/assets/csv/MIF.initTotal.csv
app/config/assets/csv/MIF.init10.csv
app/config/assets/csv/MIF.initOio1213.csv
app/config/assets/csv/MIFVISIT_CORE.initOio1213.csv
app/config/assets/csv/MIF.initOio14.csv
app/config/tables/MIF/forms/MIF/~$MIF.xlsx
app/config/tables/MIF/forms/MIFVISIT/~$MIFVISIT.xlsx
app/config/tables/MIFGRAVIDA/forms/MIFGRAVIDA/~$MIFGRAVIDA.xlsx
app/config/tables/MIFGRAVIDA_VISIT/forms/MIFGRAVIDA_VISIT/~$MIFGRAVIDA_VISIT.xlsx
app/config/tables/MIFSES/forms/MIFSES/~$MIFSES.xlsx
app/config/tables/MIFVISIT_CORE/forms/MIFVISIT_CORE/~$MIFVISIT_CORE.xlsx
app/config/tables/MIFSCAR/forms/MIFSCAR/~$MIFSCAR.xlsx
app/config/assets/csv/CRIANCA.init.csv
